<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo0610">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
           android:label="情急令"
            android:theme="@style/SplashAppTheme">       <!--label是toolbar的显示文字内容-->


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="Home"
            android:theme="@style/AppTheme">       <!--label是toolbar的显示文字内容-->

        </activity>

        <activity android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            android:label="register"
            android:theme="@style/AppTheme">       <!--label是toolbar的显示文字内容-->
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".LoginActivity"/>
        </activity>

        <activity android:name=".ModifyActivity"
            android:parentActivityName=".UserActivity"
            android:label="Modify"
            android:theme="@style/AppTheme">       <!--label是toolbar的显示文字内容-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivity"/>
        </activity>

        <activity android:name=".UserActivity"
            android:parentActivityName=".MainActivity"
            android:label="User-info"
            android:theme="@style/AppTheme">       <!--label是toolbar的显示文字内容-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".zxing.activity.CaptureActivity"/>

    </application>

</manifest>